body {
    filter: invert(88%);
    background-color: #1f1f1f !important;
}

img,
a.user,
.aui-badge,
.aui-icon,
span.frx-deleted,
span.frx-added {
    filter: invert(88%);
}

.diffContentA {
    background-color: #eeeeee !important;
}

.hl_keyword,
.hl_starttag {
    color: #1263b5 !important;   
}

.aui-header {
    background-color: #ececec !important;
    border-bottom-color: #ececec !important;
}

.aui-nav li a {
    color: #1f1f1f !important;
}

.aui-nav-link.aui-dropdown2-trigger {
    color: #1f1f1f !important;
}

.app-switcher-trigger span.aui-iconfont-appswitcher {
    color: #1f1f1f !important;
}
