body {
    filter: invert(88%);
    background-color: #1f1f1f !important;
}

#page
img,
.img-wrapper,
span[role="img"],
.ghx-grabber,
.aui-header img {
    filter: invert(88%);
}

#cp-container-1,
.cp-viewer-layer,
.cp-image-preview,
.cp-image-container.cp-annotatable {
	filter: invert(100%);
}

.ghx-swimlane .ghx-busted-max {
	background: #4cb6bf !important;   
}

.ghx-issue.ghx-flagged {
	background: #99bcde;   
}

.ghx-column-headers .ghx-column.ghx-busted-max {
    border-bottom-color: #4cb6bf !important; 
}

.aui-header {
    background-color: #ececec !important;
    border-bottom-color: #ececec !important;
}

.aui-nav li a {
    color: #1f1f1f !important;
}

.aui-nav-link.aui-dropdown2-trigger {
    color: #1f1f1f !important;
}

.app-switcher-trigger span.aui-iconfont-appswitcher {
    color: #1f1f1f !important;
}
